<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <title>Forbidden</title>
</head>
<body>
    <nav>
        <ul class="nav-ul">
            <li class="nav-li"><a href="/">Index</a></li>
            <li class="nav-li"><a href="/sign-up">Sign-up</a></li>
            <li class="nav-li"><a href="/login">Login</a></li>
            <li class="nav-li"><a href="/main-page">Your Page</a></li>
        </ul>
    </nav>
    <h1 style="color:red">Forbidden</h1>

</body>
</html>