<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/main-page">Your Page</a></li>
        </ul>
    </nav>

  <h1>Login</h1>
  <p style="color:red">{{ error_message }}</p>
  <form action="/login" method="post">
      <p><label>Email: </label> <input type="text" name="email" value="" required />
      <p><label>Password: </label> <input type="password" name="password" value="" required />
      <p><label>Remember me: </label> <input type="checkbox" name="remember_me"/>
      <p><input type="submit" value="Send" />
  </form>
</body>
</html>