<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <title>Sign-up</title>
</head>
<body>
    <nav>
        <ul class="nav-ul">
            <li class="nav-li"><a href="/">Index</a></li>
            <li class="nav-li"><a href="/sign-up">Sign-up</a></li>
            <li class="nav-li"><a href="/login">Login</a></li>
            <li class="nav-li"><a href="/main-page">Your Page</a></li>
        </ul>
    </nav>

    <h1>Sign-Up</h1>
    <p style="color:red">{{ error_message }}</p>
    <form action="/sign-up" method="post">
        <p><label>Name: </label> <input type="text" name="name" value="" required />
        <p><label>Email: </label> <input type="text" name="email" value="" required />
        <p><label>Password: </label> <input type="password" name="password" value="" required />
        <p><label>Retype Password: </label> <input type="password" name="retyped_password" value="1" required />
        <p><input type="submit" value="Send" />
    </form>
</body>
</html>